/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  font-size: 16px;
}

html, body {
  margin: 0;
  padding: 0;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  /*line-height: 1.6;*/
  font-weight: 400;  /* Adjust as needed */
  color: #b0b0b0; /* Almost black, adjust if needed */
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
  font-weight: 700; /* Or bolder as needed */
  margin-bottom: 0.5em; /* Space below headings */
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  /*font-size: 1em;*/
  /*font-weight: 500;*/
  font-family: inherit;
  background-color: #4d4d4d;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


/*-------------------------------*/
hr {
  width: 375px;
  border: 1px solid #b0b0b0;
}

.emoji {
  font-size: 5em;
  padding: 10px;
  margin: 0 auto;
  align-self: center;
}

/* Header */
.header-container {
  width: 100vw;
  height: 300px;
  overflow: hidden;
  position: relative;
  /*border: 1px solid #d372ff;*/
}

.header-img {
  position: absolute;
  top: -160px;
  width: 100vw;
}


/* Menu Section */

.menu-container {
  display: flex;
  flex-direction: column;
  /*border: 1px solid #1870fa;*/

}

.menu.h1 {
  font-family: Inter, serif;
  font-weight: 800; /* Or bolder as needed */
  margin-bottom: .5em;
  font-size: 2.75em; /* Space below headings */
}

.menu-item-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25em;
  /*border-bottom: 1px solid #afaeae;*/
  /*border: 1px solid #2aea16;*/
}

.menu-item-row .column.left {
  flex: 0 0 auto;
  /*justify-content: right;*/
  /*text-align: right;*/
  /*border: 1px solid #fff21d;*/
}

.menu-container .column.center {
  flex: 1;
  /*border: 1px solid #942bff;*/
}

.menu-container .column.right {
  flex: 0 0 auto;
  justify-content: left;
  /*border: 1px solid #ff2ba3;*/
}

.item-name {
  flex: 1;
  margin-right: 10px;
}

.ingredients {
  flex: 2;
  margin-right: 10px;
}

.price {
  font-family: Inter, serif;
  flex: 0 0 50px;
  text-align: left;
  font-size: 1em;
}

.add {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  /*background-color: #1a1a1a;*/
  outline: gray solid;
  color: white;
  font-size: 24px;
  font-weight: bold;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

#addbtn {
  margin: 20px;
}


/* Checkout Section */

/* Styling for the total price area */
.order {
  justify-content: space-between;
  /*justify-content: space-between;*/
  font-weight: 400;
  font-size: 1.1em;

}

.order-heading {
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 20px;
}

/* Styling for the horizontal line */
/*.order-divider {*/
/*  border-top: 1px solid #ccc; !* Light grey line *!*/
/*  margin: 20px 0; !* Space above and below *!*/
/*}*/

.cart-item-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5em;
  /*border-bottom: 1px solid #afaeae;*/
  /*border: 1px solid #da0000;*/
}

.order .column.left {
  /*display: flex;*/
  /*flex: 0 0 auto;*/
  /*padding: 1.25em;*/
  /*align-items: center;*/
  /*height: 100%;*/
  /*border: 1px solid #92b65c;*/
}

.order p {
    margin: 0 auto;
}

.order .column.center {
  display: flex;
  align-items: center;
  padding: 1.25em;
  height: 100%;
  flex: 1;
  margin: 0 auto;
  /*border: 1px solid #e8e8e8;*/
}

#removebtn {
  padding: 20px;
}

.order .column.right {
  flex: 0 0 auto;
  justify-content: flex-end;
  padding: 1.25em;
  /*border: 1px solid #1d0cec;*/
}


.total-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5em;
  /*border: 1px solid #3c85f3;*/
}

.total-price-text {
  padding: 1.25em;
  /*border: 1px solid #f3613c;*/
}

.total-price {
  justify-content: flex-end;
  padding: 1.25em;
  /*border: 1px solid #b17ecb;*/
}

#completebtn-container {
  display: flex;
  justify-content: center;
  padding: 1.5em;
}

#completebtn {
  background-color: #66BB6A;
}

/* Modal Popup */

#modal.hidden {
  display: none;
}

#modal {
  position: fixed;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 420px;
  width: 250px;
  border-radius: 8px;
  box-shadow: 0px 0px 6px 2px #666;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  color: whitesmoke;
  background-color: #646363;
  z-index: 1000;
  display: none;
}

#modal.hidden {
  display: none;
}

#modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(31, 31, 31, 0.5);
  z-index: 999; /* Ensure the backdrop is behind the modal but above other elements */
  display: none; /* Initially hidden */
}

#modal-backdrop.visible {
  display: block;
}

#modal.visible {
  display: block;
}

.close-modal-btn-container {
  text-align: right;
  margin: 0px;
}

.modal-close-btn {
  font-size: 1.2em;
  padding: 2px;
  /*font-weight: bold;*/
  background-color: transparent;
  /*border: 1px solid transparent;*/
  color: whitesmoke;
}

/*.modal-close-btn:hover,*/
.modal-close-btn:active{
  color: red;
  cursor: pointer;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}